{% extends "base.html" %}


{% block content %}

<div class="add_word">
<div class="empty_block"></div>

{% for msg in get_flashed_messages() %}

    <div class="allow_message">{{ msg }}</div>


{% endfor %}


<form action="/add" method="post" class="add_data_form">
        <input type="text" name="word" class="word_input" placeholder="Введите английское слово" required
               pattern="^[a-zA-Z,.?!`- ]+$" autofocus><br>
        <input type="text" name="translate" class="translate_input" placeholder="Введите перевод слова на русском"
               required
               pattern="^[а-яёА-ЁЯ,.?! ]+$"><br>
        <input type="submit" value="Создать" class="button button_create">

    </form>

</div>
{% endblock %}