<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="static/css/style.css">

</head>
<body>
<h1 class="logo_h1">My English coach</h1>
 <div class="menu">
        <a href="/">Главная</a>
        <a href="add_page">Добавить</a>
        <a href="update_page">Обновить</a>
        <a href="delete_page">Удалить</a>
        <a href="show">Показать</a>
    </div>
<div class="container">

{% block content %}


{% endblock %}
     </div>
</body>
</html>