<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/css/style.css">

</head>
<body>
<div class="wrap">
    <header class="header">

        <h1 class="logo_h1">My English coach</h1>
        <div class="menu">
            <a href="/"><p>Главная</p></a>
            <a href="add_page"><p>Добавить</p></a>
            <a href="update_page"><p>Обновить</p></a>
            <a href="delete_page"><p>Удалить</p></a>
            <a href="show"><p>Показать</p></a>
        </div>
    </header>

<!--    <div class="empty_block">-->
<!--</div>-->

{% block content %}
<content class="content">

</content>

{% endblock %}




    <footer class="footer">Все права защищены!<br>
        &#169; Терехов Михаил 2021
    </footer>
</div>
</body>
</html>