{% extends "base.html" %}


{% block content %}
<h3 class="alert_message">Слово {{ words }} не существует в базе</h3>

<form action="/update" method="post" class="update_form">
        <input type="text" name="word" class="word_input"
               placeholder="Введите английское слово для обновления его перевода" required
               pattern="^[a-zA-Z ]+$"><br>
        <input type="text" name="translate" class="translate_input" placeholder="Введите новый перевод слова на русском"
               required
               pattern="^[а-яА-ЯёЁ]+$"><br>
        <input type="submit" value="Обновить" class="button button_update">
    </form>

{% endblock %}