{% extends "base.html" %}


{% block content %}
<br><br>

<center><h1 class="random_note">{{ random_query.word.capitalize() }}</h1></center>
<br>
<br>
<form action="/random_note" method="get" class="all_notes_form">

    <input type="submit" value="Случайная запись" class="button">
</form>
<br>
<center>
<div id="content">
    <a href="#nav"><h4><span>Забыли перевод?</span></h4></a>
  <div class="expandable" id="nav">
      <h2><p>{{ random_query.translate.capitalize() }}</p></h2>
  </div>

</div>

{% endblock %}



